<!DOCTYPE html>
<html>

<head>
    <title>네이버 search test11</title>
    <meta charset="utf-8">
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body>
    <h1>지도 예제</h1>
    <div id="map"></div>

    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1d91fzypff"></script>
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.5665, 126.9780), // 서울시청 좌표
            zoom: 13
        };
        var map = new naver.maps.Map('map', mapOptions);

        function calculateDistance(lat1, lon1, lat2, lon2) {
            var R = 6371; // 지구 반지름 (단위: km)
            var dLat = (lat2 - lat1) * Math.PI / 180;
            var dLon = (lon2 - lon1) * Math.PI / 180;
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var distance = R * c; // 거리 (단위: km)
            return distance.toFixed(2); // 소수점 이하 2자리까지 반올림하여 반환
        }

        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude; // 내 위치 위도
                    var lng = position.coords.longitude; // 내 위치 경도
                    var currentPosition = new naver.maps.LatLng(lat, lng);



                    var mapContainer = document.getElementById('map');
                    var mapOption = {
                        center: new naver.maps.LatLng(lat, lng),
                        level: 3
                    };
                    var map = new naver.maps.Map(mapContainer, mapOption);

                    // 현재 위치 마커 생성
                    var markerPosition = new naver.maps.LatLng(lat, lng);
                    var marker = new naver.maps.Marker({
                        position: markerPosition,
                    });


                    marker.setMap(map);

                    var hos1 = {
                        name: '성수 병원1',
                        addr: '서울특별시 성동구 성수동2가 아차산로 92 에스타워 303호',
                        latitude: 37.5422582, // 병원1 위치 위도
                        longitude: 127.0445666 // 병원1 위치 경도
                    };

                    var hos2 = {
                        name: '성수 병원2',
                        addr: '서울특별시 성동구 성수동2가 317-3 베델플레이스',
                        latitude: 37.540540, // 병원1 위치 위도
                        longitude: 127.051046 // 병원2 위치 경도
                    };

                    var hos3 = {
                        name: '부산 병원',
                        addr: '부산광역시 사상구 새벽로 226',
                        latitude: 35.159987, // 병원 위치 위도
                        longitude: 128.980434 // 병원 위치 경도
                    };

                    var hospitalMarkers = [hos1, hos2, hos3].map(function (hospital) {
                        var marker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(hospital.latitude, hospital.longitude),
                            map: map
                        });

                        var content = '<div class="customoverlay">' +
                            '  <a href="#" onclick="openInfoWindow()">' +
                            '    <span class="title">' + hospital.name + '</span>' +
                            '  </a>' +
                            '</div>';
                        var infowindow = new naver.maps.InfoWindow({
                            content: content
                        });
                        naver.maps.Event.addListener(marker, 'click', function (e) {
                            if (infowindow.getMap()) {
                                infowindow.close();
                            } else {
                                infowindow.open(map, marker);
                            }
                        });

                        return marker;
                    });

                    // function openInfoWindow() {
                    //     alert('병원 정보 창 열기');
                    // }

                    // document.getElementById('submit').addEventListener('click', function () {
                    //     var address = document.getElementById('address').value;
                    //     if (address) {
                    //         naver.maps.Service.geocode({
                    //             query: address
                    //         }, function (status, response) {
                    //             if (status === naver.maps.Service.Status.ERROR) {
                    //                 return alert('Geocode 오류 발생');
                    //             }

                    //             if (response.v2.meta.totalCount === 0) {
                    //                 return alert('검색 결과가 없습니다.');
                    //             }

                    //             var items = response.v2.addresses;
                    //             var firstItem = items[0];

                    //             var searchResultMarker = new naver.maps.Marker({
                    //                 position: new naver.maps.LatLng(firstItem.y, firstItem.x),
                    //                 map: map
                    //             });

                    //             map.setCenter(searchResultMarker.position);

                    //             var distanceInfo = hospitalMarkers.map(function (hospitalMarker) {
                    //                 var distance = calculateDistance(hospitalMarker.position.y, hospitalMarker.position.x, firstItem.y, firstItem.x);
                    //                 return {
                    //                     marker: hospitalMarker,
                    //                     distance: distance
                    //                 };
                    //             });

                    //             distanceInfo.sort(function (a, b) {
                    //                 return a.distance - b.distance;
                    //             });

                    //             var table = document.getElementById('result-table');
                    //             table.innerHTML = '';

                    //             distanceInfo.forEach(function (info, index) {
                    //                 var row = table.insertRow();
                    //                 var cell1 = row.insertCell(0);
                    //                 var cell2 = row.insertCell(1);
                    //                 var cell3 = row.insertCell(2);

                    //                 cell1.innerHTML = info.marker.get('position').y;
                    //                 cell2.innerHTML = info.marker.get('position').x;
                    //                 cell3.innerHTML = info.distance + ' km';
                    //             });
                    //         });
                    //     } else {
                    //         alert('주소를 입력해주세요.');
                    //     }
                    // });

                    var distance = calculateDistance(lat, lng, hospital.latitude, hospital.longitude);

                    document.getElementById('hos' + (i + 1) + 'Name').textContent = hospital.name;
                    document.getElementById('hos' + (i + 1) + 'Latitude').textContent = hospital.latitude;
                    document.getElementById('hos' + (i + 1) + 'Longitude').textContent = hospital.longitude;
                    document.getElementById('distance' + (i + 1)).textContent = distance;


    
                });
            } else {
                alert("Geolocation을 지원하지 않는 브라우저입니다.");
            }
        }

        initMap();

    </script>



    <!-- <div>
        <input id="address" type="text" placeholder="검색할 주소">
        <input id="submit" type="button" value="주소 검색">
    </div>
    <div>
        <table id="result-table">
            <thead>
                <tr>
                    <th>위도</th>
                    <th>경도</th>
                    <th>거리</th>
                </tr>
            </thead>
        </table>
    </div> -->


    <input id="searchInput" type="text" onkeydown="handleKeyPress(event)" placeholder="주소를 검색하세요">
    <button onclick="search()">확인</button></p>

    <div>
        <p>현재 위치 위도: <span id="latitude"></span></p>
        <p>현재 위치 경도: <span id="longitude"></span></p>
    </div>

    <div id="content">

        <div class="hos-info" id="hos1Info">
            <p>병원1 이름: <span id="hos1Name"></span></p>
            <p>병원1 위치 위도: <span id="hos1Latitude"></span></p>
            <p>병원1 위치 경도: <span id="hos1Longitude"></span></p>
            <p>현재 위치와 병원1 위치의 거리: <span id="distance1"></span> km</p>
        </div>

        <div class="hos-info" id="hos2Info">
            <p>병원2 이름: <span id="hos2Name"></span></p>
            <p>병원2 위치 위도: <span id="hos2Latitude"></span></p>
            <p>병원2 위치 경도: <span id="hos2Longitude"></span></p>
            <p>현재 위치와 병원2 위치의 거리: <span id="distance2"></span> km</p>
        </div>


        <div class="hos-info" id="hos3Info">
            <p>병원3 이름: <span id="hos3Name"></span></p>
            <p>병원3 위치 위도: <span id="hos3Latitude"></span></p>
            <p>병원3 위치 경도: <span id="hos3Longitude"></span></p>
            <p>현재 위치와 병원3 위치의 거리: <span id="distance3"></span> km</p>
        </div>
    </div>

    <script>
        function handleKeyPress(event) {
            if (event.keyCode === 13) {
                search();
            }
        }
        function search() {
            var keyword = document.getElementById('searchInput').value;
            console.log("keyword : " + keyword);

            var hos1Info = document.getElementById('hos1Info');
            var hos2Info = document.getElementById('hos2Info');
            var hos3Info = document.getElementById('hos3Info');

            // 검색 결과에 따라 값을 업데이트하고 보여주거나 감추는 로직 추가
            if (keyword === '') {
                hos1Info.style.display = 'block';
                hos2Info.style.display = 'block';
                hos3Info.style.display = 'block';
            } else {
                if (document.getElementById('hos1Name').textContent.includes(keyword)) {
                    hos1Info.style.display = 'block';
                } else {
                    hos1Info.style.display = 'none';
                }
                if (document.getElementById('hos2Name').textContent.includes(keyword)) {
                    hos2Info.style.display = 'block';
                } else {
                    hos2Info.style.display = 'none';
                }
                if (document.getElementById('hos3Name').textContent.includes(keyword)) {
                    hos3Info.style.display = 'block';
                } else {
                    hos3Info.style.display = 'none';
                }
            }

            // var visibleCount = [hos1Info, hos2Info, hos3Info].filter(info => info.style.display !== 'none').length;

            var visibleCount = [hos1Info, hos2Info, hos3Info].filter(function (info) {
                return info.style.display !== 'none';
            }).length;
            if (visibleCount === 0) {
                alert('검색결과 없음');
                location.reload(); // 페이지 리로드
            }
        }
    </script>

</body>

</html>