<!DOCTYPE html>
<html>

<head>
  <title>주소변환</title>
  <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1d91fzypff&submodules=geocoder"></script>
</head>
<script>
  function geocode() {
    var address = document.getElementById('addressInput').value;
    naver.maps.Service.geocode({
      query: address
    }, function (status, response) {
      if (status === naver.maps.Service.Status.ERROR) {
        document.getElementById('result').innerHTML = '검색 결과가 없습니다.';
        return;
      }

      console.log(naver.maps.Service);

      var result = response.v2.addresses[0];
      console.log(response);
      var html = '<strong>지번 주소:</strong> ' + result.jibunAddress + '<br>';
      html += '<strong>도로명:</strong> ' + result.roadAddress + '<br>';
      html += '<strong>위도:</strong> ' + result.y + '<br>';
      html += '<strong>경도:</strong> ' + result.x;

      document.getElementById('result').innerHTML = html;


      

    //   // 실제 API를 호출하여 결과를 가져오는 부분
    //   var result = response.result;

    //   var latitude = result.items[0].point.y;
    //   var longitude = result.items[0].point.x;

    //   // API 호출 예시 (AJAX를 사용한 비동기 호출)
    //   $.ajax({
    //     url: 'https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc',
    //     method: 'GET',
    //     data: {
    //       coords: longitude + ',' + latitude,
    //       output: 'json',
    //       orders: 'addr'
    //     },
    //     headers: {
    //       'X-NCP-APIGW-API-KEY-ID': '',
    //       'X-NCP-APIGW-API-KEY': ''
    //     },
    //     success: function (responseJSON) {
    //       var addressResult = responseJSON.results[0].region;

    //       var addressHtml = '<strong>시도:</strong> ' + addressResult.area1.name + '<br>';
    //       addressHtml += '<strong>시군구:</strong> ' + addressResult.area2.name + '<br>';
    //       addressHtml += '<strong>읍면동:</strong> ' + addressResult.area3.name;

    //       $('#result').append('<br><br>' + addressHtml);
    //     }
    //   });

    });
  }

</script>
<body>
  <h1>주소 -> 위도,경도로 변환</h1>
  <input type="text" id="addressInput" placeholder="주소를 입력하세요">
  <button onclick="geocode()">검색</button>
  <div id="result"></div>
</body>

</html>