<!DOCTYPE html>
<html>
<head>
  <title>네이버 맵 지오코딩 API 예제2</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<script>
  function geocode() {
    var address = $('#addressInput').val();
    var url = 'https://cors-anywhere.herokuapp.com/https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=' + encodeURIComponent(address);
  
    var clientId = "1d91fzypff";
    var clientSecret = "yVFeN5A4FsVpyiJhH5ICQFq9ifsxHWLTA1OCrcyN";

    $.ajax({
      url: url,
      headers: {
        'X-NCP-APIGW-API-KEY-ID': clientId,
        'X-NCP-APIGW-API-KEY': clientSecret
      },
      method: 'GET',
      success: function(data) {
        if (data.status === 'OK' && data.addresses.length > 0) {
          var result = data.addresses[0];
          var html = '<strong>주소:</strong> ' + result.jibunAddress + '<br>';
          html += '<strong>위도:</strong> ' + result.x + '<br>';
          html += '<strong>경도:</strong> ' + result.y;

          $('#result').html(html);
        } else {
          var errorMessage = '검색 결과가 없습니다.';
          if (data.errorMessage) {
            errorMessage = data.errorMessage;
          }
          $('#result').html(errorMessage);
        }
        console.log(data);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        $('#result').html('오류가 발생했습니다.');
        console.error(jqXHR, textStatus, errorThrown);
      }
    });
  }
</script>
<body>
  <h1>네이버 맵 지오코딩 API 예제2</h1>
  <input type="text" id="addressInput" placeholder="주소를 입력하세요">
  <button onclick="geocode()">검색</button>
  <div id="result"></div>
</body>
</html>
