<!DOCTYPE html>
<html>
<head>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=be9e61cd7483e22519a7dca19f10b2c0"></script>

    <meta charset="UTF-8">
    <title>Kakao 지도 API</title>
    <style>
        /* 지도 컨테이너의 크기를 설정합니다 */
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
    
</head>
<body>
    <!-- <div id="map" style="width: 100%; height: 400px;"></div>

    <script>
        // Kakao 지도 API 스크립트 로드 완료 후 실행되는 함수
        function initMap() {
            // 지도 생성
            var mapContainer = document.getElementById('map'); // 지도를 표시할 div
            var mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심 좌표
                level: 3 // 지도의 확대 레벨
            };
            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성 및 객체 리턴
        }
    
        // Kakao 지도 API 스크립트 로드
        window.onload = function () {
            kakao.maps.load(initMap); // initMap 함수 실행
        };
    </script> -->

    <div id="map"></div>

    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=YOUR_APP_KEY"></script>
    <script>
        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude; // 위도
                    var lng = position.coords.longitude; // 경도

                    console.log("위도 : " + lat);
                    console.log("경도 : " + lng);

                    var mapContainer = document.getElementById('map');
                    var mapOption = {
                        center: new kakao.maps.LatLng(lat, lng),
                        level: 3
                    };
                    var map = new kakao.maps.Map(mapContainer, mapOption);

                    var markerPosition = new kakao.maps.LatLng(lat, lng);
                    var marker = new kakao.maps.Marker({
                        position: markerPosition
                    });
                    marker.setMap(map);
                });
            } else {
                alert('Geolocation이 지원되지 않는 브라우저입니다.');
            }
        }

        window.onload = function () {
            kakao.maps.load(initMap);
        };
    </script>
    
</body>
</html>
