<!DOCTYPE html>
<html>
<head>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=be9e61cd7483e22519a7dca19f10b2c0"></script>

    <meta charset="UTF-8">
    <title>Kakao 지도 API</title>
    <style>
        /* 지도 컨테이너의 크기를 설정합니다 */
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
    
</head>
<body>
    <h2> 내 위치 가져오기 </h2>

    <div id="map"></div>

    <script>
        function calculateDistance(lat1, lon1, lat2, lon2) {
            var R = 6371; // 지구 반지름 (단위: km)
            var dLat = (lat2 - lat1) * Math.PI / 180;
            var dLon = (lon2 - lon1) * Math.PI / 180;
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                    Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var distance = R * c; // 거리 (단위: km)
            return distance.toFixed(2); // 소수점 이하 2자리까지 반올림하여 반환
        }

        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude; // 내 위치 위도
                    var lng = position.coords.longitude; // 내 위치 경도
                    
                    var hos1 = {
                        name: '성수 병원1',
                        latitude: 37.5422582, // 병원1 위치 위도
                        longitude: 127.0445666 // 병원1 위치 경도
                    };


                    var hos2 = {
                        name: '성수 병원2',
                        latitude: 37.540540, // 병원1 위치 위도
                        longitude: 127.051046 // 병원2 위치 경도
                    };

                    var hos3 = {
                        name: '부산 병원',
                        latitude: 35.159987, // 병원 위치 위도
                        longitude: 128.980434 // 병원 위치 경도
                    };

                    var mapContainer = document.getElementById('map');
                    var mapOption = {
                        center: new kakao.maps.LatLng(lat, lng),
                        level: 3
                    };
                    var map = new kakao.maps.Map(mapContainer, mapOption);

                    var markerPosition = new kakao.maps.LatLng(lat, lng);
                    var marker = new kakao.maps.Marker({
                        position: markerPosition
                    });
                    marker.setMap(map);

                    document.getElementById('latitude').textContent = lat;
                    document.getElementById('longitude').textContent = lng;

                    // 병원 1에 빨간 마커 추가
                    var hos1MarkerPosition = new kakao.maps.LatLng(hos1.latitude, hos1.longitude);
                    var hos1Marker = new kakao.maps.Marker({
                        position: hos1MarkerPosition,
                        image: new kakao.maps.MarkerImage(
                            'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png',
                            new kakao.maps.Size(64, 69),
                            { offset: new kakao.maps.Point(27, 69) }
                        )
                    });
                    hos1Marker.setMap(map);

                    // 병원 2에 빨간 마커 추가
                    var hos2MarkerPosition = new kakao.maps.LatLng(hos2.latitude, hos2.longitude);
                    var hos2Marker = new kakao.maps.Marker({
                        position: hos2MarkerPosition,
                        image: new kakao.maps.MarkerImage(
                            'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png',
                            new kakao.maps.Size(64, 69),
                            { offset: new kakao.maps.Point(27, 69) }
                        )
                    });
                    hos2Marker.setMap(map);


                    // 객체1 위치와의 거리 계산
                    var distance = calculateDistance(lat, lng, hos1.latitude, hos1.longitude);

                    document.getElementById('hos1Name').textContent = hos1.name;
                    document.getElementById('hos1Latitude').textContent = hos1.latitude;
                    document.getElementById('hos1Longitude').textContent = hos1.longitude;
                    document.getElementById('distance1').textContent = distance;

                    // 객체2 위치와의 거리 계산
                    var distance = calculateDistance(lat, lng, hos2.latitude, hos2.longitude);

                    document.getElementById('hos2Name').textContent = hos2.name;
                    document.getElementById('hos2Latitude').textContent = hos2.latitude;
                    document.getElementById('hos2Longitude').textContent = hos2.longitude;
                    document.getElementById('distance2').textContent = distance;


                    // 객체3 위치와의 거리 계산
                    var distance = calculateDistance(lat, lng, hos3.latitude, hos3.longitude);

                    document.getElementById('hos3Name').textContent = hos3.name;
                    document.getElementById('hos3Latitude').textContent = hos3.latitude;
                    document.getElementById('hos3Longitude').textContent = hos3.longitude;
                    document.getElementById('distance3').textContent = distance;


                });

            } else {
                alert('Geolocation이 지원되지 않는 브라우저입니다.');
            }
        }

        window.onload = function () {
            kakao.maps.load(initMap);
        };
    </script>
    <p> 검색  <input> <button>확인</button></p>

     <p> 현재 위치 위도: <span id="latitude"></span></p>
     <p> 현재 위치 경도: <span id="longitude"></span></p>
     <p> 병원1 이름: <span id="hos1Name"></span></p>
     <p> 병원1 위치 위도: <span id="hos1Latitude"></span></p>
     <p> 병원1 위치 경도: <span id="hos1Longitude"></span></p>
     <p> 현재 위치와 병원1 위치의 거리: <span id="distance1"></span> km</p>
     <p> ------------------------------------------------------------------</p>
     <p> 병원2 이름: <span id="hos2Name"></span></p>
     <p> 병원2 위치 위도: <span id="hos2Latitude"></span></p>
     <p> 병원2 위치 경도: <span id="hos2Longitude"></span></p>
     <p> 현재 위치와 병원2 위치의 거리: <span id="distance2"></span> km</p>
     <p> ------------------------------------------------------------------</p>
     <p> 병원3 이름: <span id="hos3Name"></span></p>
     <p> 병원3 위치 위도: <span id="hos3Latitude"></span></p>
     <p> 병원3 위치 경도: <span id="hos3Longitude"></span></p>
     <p> 현재 위치와 병원3 위치의 거리: <span id="distance3"></span> km</p>
    
</body>
</html>
