<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserMaker</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1d91fzypff"></script>

</head>
<style>
    .header {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        background-color: black;

    }

    .footer {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        background-color: black;
    }

    .main {
        display: flex;
    }

    .search-box {
        flex: 2;
    }

    .search {
        height: 150px;
    }

    .input-box {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #searchInput {
        width: 250px;
        height: 30px;
        margin-right: 5px;

        border: none;
        border-bottom: 2px solid black;
    }

    .input-box button {
        width: 50px;
        height: 30px;
    }

    .my-location {
        margin-right: 20px;
        margin-left: 60px;
        margin-top: 15px;
    }

    .keyword-box {
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        margin-top: 20px;
        background-color: #dbdbdb;
    }

    .keyword {
        background-color: whitesmoke;
        margin-right: 20px;

    }

    .content {
        background-color: #dbdbdb;
        height: 450px;
        overflow-y: auto;
    }

    .hos-info {
        background-color: whitesmoke;
        margin-right: 35px;
        margin-left: 50px;
        margin-top: 15px;
    }


    #map {
        flex: 5;
        height: 600px;
    }
</style>

<body>
    <header class="header">
        <h1>header</h1>
    </header>

    <div class="main">
        <div class="search-box">
            <div class="search">
                <div class="input-box">
                    <input id="searchInput" type="text" onkeydown="handleKeyPress(event)" placeholder="주소를 검색하세요">
                    <button onclick="search()">확인</button></p>
                </div>
                <div class="my-location" style="display: none;">
                    <p>현재 위치 위도: <span id="latitude"></span></p>
                    <p>현재 위치 경도: <span id="longitude"></span></p>
                </div>
                <div class="keyword-box">
                    <div class="keyword" id="general">
                        <img src="/static/image/medical-vector-free-icon-set-40.png"
                            style="width: 40px; height: 40px;" />
                    </div>
                    <div class="keyword" id="pharmacy">
                        <img src="/static/image/medical-vector-free-icon-set-27.png"
                            style="width: 40px; height: 40px;" />
                    </div>
                    <div class="keyword" id="injection">
                        <img src="/static/image/medical-vector-free-icon-set-39.png"
                            style="width: 40px; height: 40px;" />
                    </div>
                    <div class="keyword" id="none">
                        <img src="/static/image/medical-vector-free-icon-set-20.png"
                            style="width: 40px; height: 40px;" />
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="hos-info" id="hos1Info">
                    <p>이름: <span id="hos1Name"></span></p>
                    <p>위도: <span id="hos1Latitude"></span></p>
                    <p>경도: <span id="hos1Longitude"></span></p>
                    <p>거리: <span id="distance1"></span> km</p>

                </div>

                <div class="hos-info" id="hos2Info">
                    <p>이름: <span id="hos2Name"></span></p>
                    <p>위도: <span id="hos2Latitude"></span></p>
                    <p>경도: <span id="hos2Longitude"></span></p>
                    <p>거리: <span id="distance2"></span> km</p>

                </div>


                <div class="hos-info" id="hos3Info">
                    <p>이름: <span id="hos3Name"></span></p>
                    <p>위도: <span id="hos3Latitude"></span></p>
                    <p>경도: <span id="hos3Longitude"></span></p>
                    <p>거리: <span id="distance3"></span> km</p>

                </div>

                <div class="hos-info" id="hos4Info">
                    <p>이름: <span id="hos4Name"></span></p>
                    <p>위도: <span id="hos4Latitude"></span></p>
                    <p>경도: <span id="hos4Longitude"></span></p>
                    <p>거리: <span id="distance4"></span> km</p>

                </div>

                <div class="hos-info" id="hos5Info">
                    <p>이름: <span id="hos5Name"></span></p>
                    <p>위도: <span id="hos5Latitude"></span></p>
                    <p>경도: <span id="hos5Longitude"></span></p>
                    <p>거리: <span id="distance5"></span> km</p>

                </div>
            </div>
        </div>
        <div class="map" id="map">
            map
        </div>
    </div>
    <footer class="footer">
        <h3>footer</h3>
    </footer>
</body>

<script>

    function calculateDistance(lat1, lon1, lat2, lon2) {
        var R = 6371; // 지구 반지름 (단위: km)
        var dLat = (lat2 - lat1) * Math.PI / 180;
        var dLon = (lon2 - lon1) * Math.PI / 180;
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var distance = R * c; // 거리 (단위: km)
        return distance.toFixed(2); // 소수점 이하 2자리까지 반올림하여 반환
    }

    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude; // 내 위치 위도
                var lng = position.coords.longitude; // 내 위치 경도
                var currentPosition = new naver.maps.LatLng(lat, lng);

                var mapContainer = document.getElementById('map');
                var mapOption = {
                    center: new naver.maps.LatLng(lat, lng),
                    level: 5
                };
                var map = new naver.maps.Map(mapContainer, mapOption);

                // 현재 위치 마커 생성
                var markerPosition = new naver.maps.LatLng(lat, lng);
                var marker = new naver.maps.Marker({
                    position: markerPosition,
                });

                marker.setMap(map);

                var hos1 = {
                    name: '성수 병원1',
                    addr: '서울특별시 성동구 성수동2가 314-5 S TOWER, 303호',
                    info: '성수 병원1 입니다.',
                    keyword: 'general',
                    latitude: 37.5448692, // 병원1 위치 위도
                    longitude: 127.0542999 // 병원1 위치 경도
                };

                var hos2 = {
                    name: '성수 병원2',
                    addr: '서울특별시 성동구 성수동2가 317-3 베델플레이스',
                    info: '성수 병원2 입니다.',
                    keyword: 'pharmacy',
                    latitude: 37.5439172, // 병원1 위치 위도
                    longitude: 127.0572634 // 병원2 위치 경도
                };

                var hos3 = {
                    name: '부산 병원',
                    addr: '부산광역시 사상구 새벽로 226',
                    info: "부산 병원 입니다.",
                    keyword: "injection",
                    latitude: 35.154907, // 병원 위치 위도
                    longitude: 129.008523 // 병원 위치 경도
                };

                var hos4 = {
                    name: '마디로한의원 뚝섬역',
                    addr: '서울 성동구 성수일로 77 서울숲IT밸리 105-1호',
                    info: "서울숲 IT벨리, 성수동 뚝섬역 4번출구 도보3분거리에 위치합니다.",
                    keyword: "none",
                    latitude: 37.5474332,// 병원 위치 위도
                    longitude: 127.0503511 // 병원 위치 경도
                };

                var hos5 = {
                    name: '연세웰치과의원',
                    addr: '서울특별시 성동구 성수동2가 289-321 대한진공빌딩 4층',
                    info: "성수역 2번출구 근처에 위치한 치과입니다.",
                    keyword: "none",
                    latitude: 37.5455540,// 병원 위치 위도
                    longitude: 127.0571619 // 병원 위치 경도
                };


                document.getElementById('latitude').textContent = lat;
                document.getElementById('longitude').textContent = lng;

                var hospitals = [hos1, hos2, hos3, hos4, hos5]; // 병원 객체들을 배열에 저장

                // 거리에 따라 병원 배열 정렬
                hospitals.sort(function (a, b) {
                    var distanceA = calculateDistance(lat, lng, a.latitude, a.longitude);
                    var distanceB = calculateDistance(lat, lng, b.latitude, b.longitude);
                    return distanceA - distanceB;
                });

                for (var i = 0; i < hospitals.length; i++) {
                    var hospital = hospitals[i];
                    var markerPosition = new naver.maps.LatLng(hospital.latitude, hospital.longitude);
                    var iconUrl = ''; // 아이콘 경로를 저장할 변수

                    // 키워드에 따라 아이콘 경로 설정
                    if (hospital.keyword === 'general') {
                        iconUrl = "/static/image/medical-vector-free-icon-set-40.png"; // '일반' 키워드에 해당하는 아이콘 경로
                    } else if (hospital.keyword === 'pharmacy') {
                        iconUrl = '/static/image/medical-vector-free-icon-set-27.png'; // '약국' 키워드에 해당하는 아이콘 경로
                    } else if (hospital.keyword === 'injection') {
                        iconUrl = '/static/image/medical-vector-free-icon-set-39.png'; // '주사' 키워드에 해당하는 아이콘 경로
                    } else {
                        iconUrl = '/static/image/medical-vector-free-icon-set-20.png'; // 키워드에 해당하는 아이콘 경로가 없는 경우 기본 아이콘 경로
                    }

                    var marker = new naver.maps.Marker({
                        position: markerPosition,
                        icon: {
                            content: [
                                '<img src="' + iconUrl + '" style="width: 40px; height: 40px;" />',
                            ].join(''),
                            size: new naver.maps.Size(24, 24),
                            anchor: new naver.maps.Point(12, 12),
                        }
                    });


                    marker.setMap(map);

                    var infowindow = new naver.maps.InfoWindow(); // 정보창 객체 생성

                    // 클릭 이벤트 핸들러 등록
                    naver.maps.Event.addListener(marker, 'click', (function (marker, hospital) {
                        return function () {
                            var content = [
                                '<div>',
                                '<p>이름: ' + hospital.name + '</p>',
                                '<p>소개: ' + hospital.info + '</p>',
                                '<p>위치: ' + hospital.addr + '</p>',
                                '</div>'
                            ].join('');

                            infowindow.setContent(content); // 정보창 내용 설정
                            infowindow.open(map, marker); // 정보창 열기

                            // 해당 병원 위치로 지도 중심 이동
                            map.setCenter(marker.getPosition());
                        }
                    })(marker, hospital));


                    var distance = calculateDistance(lat, lng, hospital.latitude, hospital.longitude);

                    document.getElementById('hos' + (i + 1) + 'Name').textContent = hospital.name;
                    document.getElementById('hos' + (i + 1) + 'Latitude').textContent = hospital.latitude;
                    document.getElementById('hos' + (i + 1) + 'Longitude').textContent = hospital.longitude;
                    document.getElementById('distance' + (i + 1)).textContent = distance;
                }

            });
        } else {
            alert("Geolocation을 지원하지 않는 브라우저입니다.");
        }
    }

    initMap();

    function handleKeyPress(e) {
        if (e.keyCode === 13) {
            search();
        }
    }


    // 검색 결과에 해당하는 정보만 노출
    function search() {
        var keyword = document.getElementById('searchInput').value;
        var hospitals = [];

        for (var i = 1; i <= 5; i++) {
            var infoElement = document.getElementById('hos' + i + 'Info');
            var nameElement = document.getElementById('hos' + i + 'Name');

            hospitals.push({
                info: infoElement,
                name: nameElement.textContent
            });
        }

        hospitals.forEach(function (hospital) {
            hospital.info.style.display = (keyword === '' || hospital.name.includes(keyword)) ? 'block' : 'none';
        });

        var visibleCount = hospitals.filter(function (hospital) {
            return hospital.info.style.display !== 'none';
        }).length;

        if (visibleCount === 0) {
            alert('검색결과 없음');
            location.reload();
        }
    }
</script>

</html>